/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/04/2017, 03:44:08 PM
    Author     : agonzalez
*/

* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: 'Dancing Script', cursive;
    font-size: 1.1em;
    margin: 0 5px;
    background-color: #02010a;
}

#contenido {
    max-width: 900px;
    min-width: 319px;
    margin: 0 auto;
}

h1 {
    color: white;    
    text-shadow:2px 2px #02010a;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 1.15em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;  
}

/*
*   Definición de propiedades del header y sus hijos
*/

header {
    height: auto;    
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    padding: 5px 5px 20px 5px;
    animation-name: slidein;
    animation-duration: 4s;
}

header h1 {
  display: inline-block;
}

header nav {
    font-size: 1.25em;
    margin: 5px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    text-shadow:2px 2px #02010a;
    font-weight: bold;
    margin-left: 1em;
    
}

/**
* Definición de propiedades de tag section
*/

section {
    display: inline-block;
    height:auto;
}

section div {    
    display: block;
}

/**
* Definición de tag footer
*/

footer {
    border-radius: 0 0 10px 10px; 
    height: auto;
    background-color: #C6d5c5;
    width: 100%;
   
}

footer div {
    height: auto;
    padding: 10px;    
    text-align: justify;
}

/**
* Definición de comportamientos de sección de imagenes
*/

#imagenCentral {
    background-color: #82c3a6;    
    text-align: center;
    padding: 0px;
}

#imagenCentral div {
    width: 100%;
    margin: 10px 0;
}

img {
    box-shadow: 2px 2px 2px  #02010a;
}

#imagenSecundaria {
    background: #d5c75f;
    text-align: center;    
}

#imagenSecundaria div {
    height: auto;
    padding: 0 0.25em;
    text-align: center;
}

#imagenSecundaria div img {    
    border: solid 2px black;
    margin: 10px 0;
}

/**
* Definición de estructura de galeria
*/
#galeria {
    background: #d5c75f;
    text-align: center;
    padding: 0 0 15px 0;
}

#galeria div {
    margin: 15px 5px 0px 10px;    
}

#galeria img {
    width: 99%;
}

/**
* Definición de clases de ancho de imagenes
*/

#imagenc1 {   
    width: 75%;
}

#imagens1 {
    width: 65%
}

#imagens2 {
    width: 35%;
}

/**
* Definición de efectos de imagenes secundarias
*/

#imagens1:hover {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg); 
    border: solid 2px #82c3a6;
    box-shadow: 2px 2px 2px #82c3a6;
}


#imagens2:hover {
    -ms-transform: translate(20px,-5px); /* IE 9 */
    -webkit-transform: translate(20px,-5px); /* Safari */
    transform: translate(20px,-5px);
    border: solid 2px #82c3a6;
    box-shadow: 2px 2px 2px #82c3a6;
}

/**
* Definiciónde de comportamiento de elementos de la columna de redes sociales.
*/

#redesSociales {
    text-align: right;
}

#redesSociales a {
    display: inline-block ;
    height: 24px;
    width: 90%;
    margin: 5px;   
}

#redesSociales p {
    text-align: initial;
}

#redesSociales a > span {
    display: none;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1.25em;
}

#redesSociales a > img {
    height: 24px;
    box-shadow: none;
}

/**
* Definición de clases de para enlaces de redes sociales y sus efectos
*/

a.facebook:hover #imgFb {
    box-shadow: 5px 5px 5px royalblue;  
}

a.facebook:hover #lblFb {
    display: inline-block;
    text-shadow:1px 1px royalblue;
}

a.google:hover #imgGp {
    box-shadow: 5px 5px 5px tomato;

}

a.google:hover #lblGp {
    display: inline-block;
    text-shadow:1px 1px tomato;
}

a.twitter:hover #imgTw {
    box-shadow: 5px 5px 5px  darkcyan;
}

a.twitter:hover #lblTw {
    display: inline-block;
    text-shadow:1px 1px darkcyan;
}

/**
* Definición de clasea para galería
*/

.blur10 {
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
}

.grayscale100 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.sepia90 {
    -webkit-filter: sepia(90%); /* Safari 6.0 - 9.0 */
    filter: sepia(90%);
    
}

/**
* Definición de animaciones
*/

@keyframes slidein {
    0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}

/**
* Definicón de media Querys
*/

@media (min-width:320px) and (max-width: 899px) {
    header h1 {
        display: block;
        text-align: center;
    }

    header nav {
        display: block;
        text-align: center;
        float: none;
    }
    
    header nav a:hover {
        font-size: 1em;
        text-shadow:2px 2px #82c3a6;
    }
    
    footer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
    }
    
    footer div {
        width: 90%;
        margin: 0 auto;
    }
    
}

@media screen and (min-width:900px) {
    header h1 {
        display: inline-block;
    }

    header nav {
        display: inline-block;    
        float: right;
    }
    
    header nav a:hover {
        font-size: 1.50em;
        text-shadow:2px 2px #82c3a6;
    }
    
    footer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;   
    }
    
    footer div {
        width: 24%;    
    }
    
    #imagenSecundaria {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;    
    }
    
    #imagenSecundaria div {
        width: 49%;
    }
        
    #galeria {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    
    #galeria div {
        width: 31%;
    }
}