/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/04/2017, 03:44:08 PM
    Author     : agonzalez
*/

* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: 'Dancing Script', cursive;
    font-size: 1.1em;
    margin: 0 5px;
    background-color: #02010a;
}
#contenido {
    min-height: 100px;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    /*border: 1px yellow solid;*/
    color: white;    
    text-shadow:2px 2px #02010a;    
    display: inline-block;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 1.3em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;  
}

/*
*   Definición de propiedades del header y sus hijos
*/

header {
    /*border: 1px solid red;*/
    height: auto;    
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    padding: 5px 5px 20px 5px;
}

header nav {
    /*border: 1px blue solid;*/
    display: inline-block;
    font-size: 1.25em;
    float: right;
    margin: 5px;
    
}

header nav a {
    text-decoration: none;
    color: #fff;
    text-shadow:2px 2px #02010a;
    font-weight: bold;
    margin-left: 1em;
    
}

header nav a:hover {
    font-size: 1.50em;
    text-shadow:2px 2px #82c3a6;
}

section {
    min-height: 250px;
    height:auto;
}

section div {    
    /*border: 1px solid blue;*/
    display: block;
    vertical-align: middle;
}

/**
* Definición de tag footer
*/

footer {
    border-radius: 0 0 10px 10px; 
    height: auto;
    background-color: #C6d5c5;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;    
}

footer div {
    /*border: 1px solid green;*/
    width: 24%;    
    height: auto;
    padding: 0.5em;
    margin-left: 2px;
    text-align: justify;    
}

/**
* Definición de comportamientos de sección de imagenes
*/

#imagenCentral {
    background-color: #82c3a6;    
    text-align: center;
    padding: 0px;
}

#imagenCentral div {
    border: 1px red solid;
    width: 100%;
}

img {
    /*border: solid 2px black; */
    box-shadow: 2px 2px 2px  #02010a;
}

#imagenSecundaria {
    background: #d5c75f;
    text-align: center;  
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;    
}

#imagenSecundaria div {
    /*border: 1px solid blue;*/
    width: 49%;
    min-height: 300px;
    height: auto;
    padding: 0 0.25em;
    margin-left: 2px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#imagenSecundaria div img {
    border: solid 2px black;
}

/**
* Definición de estructura de galeria
*/
#galeria {
    background: #d5c75f;
    text-align: center;
    padding: 0 0 15px 0;
    display: -webkit-flex;
    display: flex wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

#galeria div {
    border: blue 1px solid;
    width: 31%;
    margin: 15px 5px 0px 10px;
    /*padding: 2px 2px 1px 2px;*/
    
}

#galeria img {
    width: 99%;
}

/**
* Definición de propiedades y animaciones de las imágenes
*/

#imagenc1 {   
    width: 60%;
}

#imagens1 {
    width: 65%
}

#imagens2 {
    width: 35%;
}

/**
* Definición de efectos de imagenes secundarias
*/

#imagens1:hover {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg); 
    border: solid 2px #82c3a6;
    box-shadow: 2px 2px 2px #82c3a6;
}


#imagens2:hover {
    -ms-transform: translate(20px,-5px); /* IE 9 */
    -webkit-transform: translate(20px,-5px); /* Safari */
    transform: translate(20px,-5px);
    border: solid 2px #82c3a6;
    box-shadow: 2px 2px 2px #82c3a6;
}

/**
* Definiciónde de comportamiento de elementos de la columna de redes sociales.
*/

#redesSociales {
    text-align: right;
}

#redesSociales a {
    /*border: solid red 1px;*/
    display: inline-block ;
    height: 24px;
    width: 100%;
    margin: 5px;   
}

#redesSociales p {
    text-align: initial;
}

#redesSociales a > span {
    display: none;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1.25em;
}

#redesSociales a > img {
    height: 24px;
    box-shadow: none;
}


/**
* Definición de clases de para enlaces de redes sociales y sus efectos
*/

a.facebook:hover #imgFb {
    box-shadow: 5px 5px 5px royalblue;  
}

a.facebook:hover #lblFb {
    display: inline-block;
}

a.google:hover #imgGp {
    box-shadow: 5px 5px 5px tomato;  
}

a.google:hover #lblGp {
    display: inline-block;
}

a.twitter:hover #imgTw {
    box-shadow: 5px 5px 5px  darkcyan;
}

a.twitter:hover #lblTw {
    display: inline-block;
}

/**
* Definición de clasea para galería
*/

.blur10 {
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
}

.grayscale100 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.sepia90 {
    -webkit-filter: sepia(90%); /* Safari 6.0 - 9.0 */
    filter: sepia(90%);
}