/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/04/2017, 03:44:08 PM
    Author     : agonzalez
*/


* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: 'Tangerine', cursive;
    font-size: 1.7em;
    margin: 0 5px;

}

header {
    /*border: 1px solid red;*/
    height: 100px;
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

header h1 {
    /*border: 1px yellow solid;*/
    color: white;    
    text-shadow:2px 2px #02010a;
    
    display: inline-block
}

header nav {
    /*border: 1px blue solid;*/
    display: inline-block;
    font-size: 1.25em;
    float: right;
}

header nav a {
    text-decoration: none;
    color: #fff;
    text-shadow:2px 2px #02010a;
    font-weight: bold;
    margin-left: 1em;
    
}

header nav a:hover {
    font-size: 1.50em;
    text-shadow:2px 2px #82c3a6;
}

section {
    min-height: 200px;
    height: auto;
}

section div {    
    /*border: 1px solid blue;*/
    min-height: 150px;
    height: auto;
    vertical-align: middle;

    
}

footer {
    border-radius: 0 0 10px 10px; 
    height: auto;
    background-color: #C6d5c5;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;    
}

footer div {
    /*border: 1px solid green;*/
    width: 24%;    
    min-height: 200px;
    height: auto;
    padding: 0.5em;
    margin-left: 2px;
    text-align: justify;
    
}

footer div h2 {
    text-align: center;
}

#imagenCentral {
    background-color: #82c3a6;
    min-height: 200px;
    height: auto;
    text-align: center;
    padding: 10px;
}


#imagenCentral img {
    border: solid 1px black;   
}

#imagenSecundaria {
    background: #d5c75f;
    text-align: center;  
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    
}

#imagenSecundaria div {
    /*border: 1px solid blue;*/
    width: 49%;
    min-height: 300px;
    height: auto;
    padding: 0 0.25em;
    margin-left: 2px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#imagenSecundaria div img {
    border: solid 1px black;
}

#imagenc1 {
    width: 40%;
}

#imagens1 {
    width: 50%
}

#imagens3 {
    width: 35%;
}

#redesSociales a {
    border: solid red 1px;
    display: inline-block ;
    height: 64px;
    width: 64px;
    margin: 2px;
    
}

.facebook {
    background-image: url('../img/iconos/facebook500.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}