/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/04/2017, 05:57:45 PM
    Author     : agonzalez
*/

footer {
    background: blanchedalmond;
    padding: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

footer article {    
    width: 25%;
    border: solid red 1px;
    height: 300px;
    margin: 5px;
}


div a {
    display: block;
    height: 100px;
    width: 100px;
    background: blueviolet;
    background-image: url("../img/iconos/googleplus.png");
    background-repeat: no-repeat;    
    background-size:contain;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}


#trans {
    height: 100px;
    width: 100px;
    background: blueviolet;
}

#trans:hover {
    
}